body{
    background-color: antiquewhite;
    border: 10px solid rgb(250, 97, 169);
    padding: 10px;
}
p{
    font-size: 25px;
}
h1{
    text-align: center;
    text-decoration: underline;
    color: brown;
}