.news {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
 }
 
 .news h2 {
    margin-bottom: 10px;
 }
 
 .news ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }
 
 .news li {
    margin-bottom: 20px;
 }
 
 .news h3 {
    margin-bottom: 10px;
 }
 
 .news small {
    color: #777;
    font-style: italic;
 }
 